<script type="text/template" id="main">
  <div id="header-menu">
      <h1 data-message="common01_01_002"><!-- 〓マイメニュー --></h1>
      <div class="help"><a href="#" id="js-help" class="se" data-se-label="SE_WAVE_OK_SUB"><span data-message="always01_01_008"><!-- 〓ヘルプ --></span></a></div>
  </div>
  <div id="main-menu">
      <div class="profile">
          <div class="profile-info">
              <div class="mii">
                  <img src="{{= data.mii.icon_url || 'image/img_unknown_MiiIcon.png' }}" width="96" height="96"/>
              </div>
              <div class="balance">
                  <span class="name">{{- data.mii.name }}</span>
                  <div class="current">
                      <span data-message="common01_01_020"><!-- 〓残高: --></span><span class="amount"></span>
                  </div>
              </div>
          </div>
          <div class="purchase-relation">
              <div class="add">
                  <a href="money01_01.html" class="se" data-se-label="SE_WAVE_OK_SUB">
                      <span data-message="common01_01_004"><!-- 〓残高を追加する --></span>
                  </a>
              </div>
              <div class="ccard">
                  <a href="set04_01.html" class="se" data-se-label="SE_WAVE_OK_SUB">
                      <span data-message="set01_01_005"><!-- 〓クレジットカード情報の確認 --></span>
                  </a>
              </div>
          </div>
      </div>
      {{if (data.is_owned_coupon_available) { }}
      <div class="owned-coupon">
          <h2 data-message="common01_01_084"><!-- 〓あなただけ割引 --></h2>
          <a href="coupon02_01.html" class="show-owned-coupon-list se" data-se-label="SE_WAVE_OK" data-sound-assigned="true">
              <span data-message="coupon03_01_001"><!-- 〓「あなただけ割引」一覧 --></span>
          </a>
      </div>
      {{ } }}
      <div class="wishlist">
          <h2 data-message="always01_01_003"><!-- 〓気になるリスト --></h2> 
          {{ if (data.wish) { }}
              {{if (data.wish.length) { }}
                  <ul>
                      {{ _.each(data.wish, function(item) { }}
                      <li><a href="{{= item.url }}"
                      class="se {{= Wood.Util.createIconClass(item.id) }}" data-se-label="SE_WAVE_OK_SUB">
                      <div><img src="{{= Wood.Util.createPlaceHolderUrl(item.id) }}" data-original="{{= item.icon }}"
                      width="110" height="110"/></div></a></li>
                      {{ }); }}
                  </ul>
              {{ } }}
              <a href="wish01_01.html" id="evt_show_wish" class="show-detail se" data-se-label="SE_WAVE_OK_SUB">
                  <span data-message="common01_01_072"><!-- 〓一覧をみる --></span>
              </a>
          {{ } else { }}
              <p data-message="wish01_01_006"><!-- 〓気になるリストに登録されているソフトがひとつもありません。<br />
                  ソフト情報から気になるソフトを登録してください。 --></p>
          {{ } }}
      </div>
      <div class="recommend">
          <h2 data-message="always01_01_005"><!-- 〓おすすめできるソフト --></h2>
          <p class="load" data-message="common01_01_068"><!--読み込み中…--></p>
      </div>
      <div class="history">
          <h2 data-message="always01_01_009"><!-- 〓これまでの履歴 --></h2>
          <ul>
              <li>
                  <a href="history03_01.html" class="se" data-se-label="SE_WAVE_OK_SUB">
                      <span data-message="history01_01_004"><!-- 〓購入済みソフト --></span>
                  </a>
              </li>
              <li>
                  <a href="history04_01.html" class="se" data-se-label="SE_WAVE_OK_SUB">
                      <span data-message="history01_01_003"><!-- 〓ご利用記録 --></span>
                  </a>
              </li>
          </ul>
      </div>
      <div class="setting">
          <h2 data-message="set01_01_002"><!-- 〓設定 --></h2>
          <a href="#" id="evt_show_all" class="show-all se" class="se" data-se-label="SE_WAVE_OK_SUB">
              <span data-message="common01_01_023"><!-- 〓すべて見る --></span>
          </a>
          <ul style="display: none;">
              {{ if (data.is_club_available) { }}
              <li>
                  <a href="set07_01.html" class="se" data-se-label="SE_WAVE_OK_SUB">
                      <span data-message="set01_01_007"><!-- 〓クラブニンテンドー会員IDの設定 --></span>
                  </a>
              </li>
              {{ } }}
              <li>
                  <a href="set03_01.html" class="se" data-se-label="SE_WAVE_OK_SUB">
                      <span data-message="set01_01_003"><!-- 〓お知らせ配信設定 --></span>
                  </a>
              </li>
              {{ if (data.is_lang_selectable) { }}
              <li>
                  <a href="set02_01.html" class="se" data-se-label="SE_WAVE_OK_SUB">
                      <span data-message="set02_01_001"><!-- 〓言語設定 --></span>
                  </a>
              </li>
              {{ } }}
              {{ if (data.is_address_available) { }}
              <li>
                  <a href="legal07_01.html" class="se" data-se-label="SE_WAVE_OK_SUB">
                      <span data-message="set01_01_008"><!-- 〓住所情報の設定 --></span>
                  </a>
              </li>
              {{ } }}
          </ul>
      </div>
  </div>
  <div id="sel_menu_bar"></div>

  <div style="display:none;">
      <span id="mymenu_msg_age" data-message="reco01_01_003"><!-- 〓あなたの年齢ではこのソフトで遊ぶことが
      推奨されていませんので、
      投票することはできません。 --></span>
      <span id="mymenu_msg_ok" data-message="common01_01_006"><!-- 〓OK --></span>
  </div>
</script>

<script type="text/template" id="recommend">
          <h2 data-message="always01_01_005"><!-- 〓おすすめできるソフト --></h2>
          {{ if (data.votable && data.votable.length) { }}
          <ul>
              {{ _.each(data.votable, function(item) { }}
              <li><a href="{{= item.url }}"
              data-id="{{= item.title.id }}" data-age="{{= item.title.rating_info ? item.title.rating_info.rating.age : 0 }}"
              class="se p-icon-wup-M" data-se-label="SE_WAVE_OK_SUB">
              <img src="{{= Wood.Util.createPlaceHolderUrl(item.title.id) }}" data-original="{{= item.title.icon_url }}" width="110" height="110"/></a></li>
              {{ }); }}
          </ul>
          <a href="reco01_01.html" id="evt_show_reco" class="show-detail se" data-se-label="SE_WAVE_OK_SUB">
              <span data-message="common01_01_072"><!-- 〓一覧をみる --></span>
          </a>
          {{ } else { }}
          <a href="reco01_01.html" id="evt_show_recommend" class="show-votable-titles se" data-se-label="SE_WAVE_OK">
              <span data-message="always01_01_005_02"><!-- 〓ソフトをおすすめしてみませんか？ --></span>
          </a>
          {{ } }}
</script>

<script type="text/template" id="help">
  <div id="main-help">
      <ul>
          <li><a href="manual/manual01_00.html" class="manual se" data-se-label="SE_WAVE_OK"><span data-message="always01_01_007"><!-- 〓説明書 --></span></a></li>
          <li><a href="legal02_01.html" class="about-eshop se" data-se-label="SE_WAVE_OK"><span data-message="set01_01_011"><!-- 〓ニンテンドーeショップについて --></span></a></li>
          {{ if (is_inquiry_available) { }}
          <li><a href="set05_01.html" class="contact se" data-se-label="SE_WAVE_OK"><span data-message="set01_01_012"><!-- 〓お問い合わせについて --></span></a></li>
          {{ } }}
      </ul>
  </div>
</script>