<script type="text/template" id="main">
  <!--div id="wrap" class="js-news"-->
  <div id="top02_01">

    <div class="news-header">
      <h1><span data-message="top01_01_001"><!-- 〓ニュース --></span></h1>
    </div>

    <div class="news-main">

      <ul id="sel_list" class="news-list"></ul>
      <div id="sel_detail" class="news-detail"></div>

    </div>
  </div>

  <div id="sel_menu_bar"></div>

  </div>
  <div style="display: none">
    <!-- localize strings -->
    <span id="str_new" data-message="top02_01_002"><!-- 〓NEW --></span>
  </div>
  <!--/div-->
</script>

<!-- news list -->
<script id="template_news_list" type="text/x-jquery-tmpl">
<li>
  <a href="#" data-detail="${ url_detail }" class="se evt_show_detail" data-se-label="SE_WAVE_OK">
    <span>{{html str_title }}</span></a>
  <span class="sel-new ico-new" style="display:{{if is_new}} inline {{else}} none {{/if}}" >${ str_new }</span>
</li>
</script>
<!-- news detail -->
<script id="template_news_detail" type="text/x-jquery-tmpl">
<div id="${ id_news }" class="news-detail-frame" style="display:none;">
  <h2>{{html str_title }}</h2>
  <div class="news-detail-content">{{html str_content }}</div>
</script>