<script id="pagination" type="text/template">
  {{if (total_page > 1) { }}
  <ul>
  <!--prev-->
  {{if (prev_page) { }}
      <li class="prev on"><a href="#page/{{- prev_page }}" class="evt_pager_prev se" data-se-label="SE_WAVE_OK_SUB"><span>&lt;</span></a></li>
  {{ } else { }}
      <li class="prev off"><span>&lt;</span></li>
  {{ } }}
  
  <!--min-->
  {{if (current_page > 3 && total_page > 7) { }}
      <li class="page"><a href="#page/1" class="evt_pager_num se" data-se-label="SE_WAVE_OK_SUB"><span>1</span></a></li>
      {{if (current_page > 4) { }}
          <li class="point">...</li>
      {{ } }}
  {{ } }}
  
  <!--pages-->
  {{ _.each(pages, function(page){ }}
  {{if (page.is_self) { }}
  <li class="current"><span>{{- page.page }}</span></li>
  {{ } else { }}
  <li class="page"><a href="#page/{{- page.page }}" class="evt_pager_num se" data-se-label="SE_WAVE_OK_SUB"><span>{{- page.page }}</span></a></li>
  {{ } }}
  {{ }); }}
  
  <!--max-->
  {{if (current_page < total_page - 2 && total_page > 7) { }}
      {{if (current_page < total_page - 3) { }}
          <li class="point">...</li>
      {{ } }}
  <li class="page"><a href="#page/{{- total_page }}" class="evt_pager_num se" data-se-label="SE_WAVE_OK_SUB"><span>{{- total_page }}</span></a></li>
  {{ } }}
  
  <!--next-->
  {{if (next_page) { }}
      <li class="next on"><a href="#page/{{- next_page }}" class="evt_pager_next se" data-se-label="SE_WAVE_OK_SUB"><span>&gt;</span></a></li>
  {{ } else { }}
      <li class="next off"><span>&gt;</span></li>
  {{ } }}
  </ul>
  {{ } }}
  </script>
  
  <!-- 気になるリストボタン -->
  <script id="template_wishlist" type="text/template">
    {{ if (is_registered) { }}
    <div class="interested"><span>{{= str_wishlist_done }}</span></div>
    {{ } else { }}
    <a href="#" class="evt_reg_wish wish se" data-title-id="{{= data_title_id }}"><span>{{= str_wishlist }}</span></a>
    {{ } }}
  </script>
  