<script type="text/template" id="main">
  <!--div id="wrapper" class="js-redeem"-->
  <div id="top03_01" class="soft-redeem">
  
  <div class="soft-redeem-header">
    <h1 data-message="top03_01_001"><!-- 〓ソフトの引換 --></h1>
  </div>
  
  <div class="soft-redeem-main">
  
  <div class="soft-redeem-message">
    <h2 data-message="top03_01_002"><!-- 〓ソフト引換番号をお持ちの場合、引換番号を入力すると<br />ソフトを受信することができます。 --></h2>
  
    <p class="soft-redeem-redownload" data-message="top03_01_003">
    <!-- 〓引換済みのソフトを再受信する場合は、メニューにある<br />
    「設定・その他」の「購入済みソフト」から再受信したい<br />ソフトをえらんでください。 --></p>
  </div>
  
  <input type="text" name="redeem_num" value="" placeholder="" keyboard="nnid" invalidchar="downloadcode" capslock="true" maxlength="16" minlength="16" separate="0x00000888" class="soft-redeem-textbox" />
  
  <div id="sel_redeem_next" class="soft-redeem-next" style="display: none;">
    <a href="#" id="evt_redeem" class="se" data-se-label="SE_WAVE_OK">
      <span data-message="common01_01_033"><!-- 〓つぎへ--></span>
    </a>
  </div>
  
  </div>
  
  </div>
  
  <div id="sel_menu_bar"></div>
  
  <div style="display: none">
   <!-- string textbox -->
   <span id="str_redeem_num" data-message="top03_01_007"><!-- 〓ソフト引換番号を入力してください --></span>
   <span id="dialog_msg" data-message="top03_01_005"><!-- 〓ご入力いただいた番号は、
  ニンテンドープリペイド番号です。
  このまま残高の追加を行います。 --></span>
   <span id="dialog_msg_block_prepaid" data-message="top03_01_006"><!-- 〓ご入力いただいた番号は、
  ニンテンドープリペイド番号です。
  お客様がお住まいの地域では
  ニンテンドープリペイド番号は
  ご利用頂けません --></span>
   <span id="dialog_msg_DL" data-message="top03_03_001"><!-- 〓すでに購入・またはダウンロード済みのため
  ダウンロード番号は必要ありません。 --></span>
   <span id="dialog_msg_invalid" data-message="top03_01_008"><!-- 〓ダウンロード番号の確認ができませんでした。<br /><br />
  念のため、お手持ちの番号
  をもう一度ご確認ください。--></span>
   <span id="dialog_msg_unused_char" data-message="top03_01_009"><!-- 〓番号の確認ができませんでした。
  入力した番号が間違っている可能性があります。
  お手持ちの番号をご確認のうえ、
  もう一度入力してください。
  
  I（アイ）、O（オー）、Z（ゼット）、
  -（ハイフン）は使われない文字です。
  1、0、2 等の間違いでないかご確認ください。
   --></span>
   <span id="dialog_ok" data-message="common01_01_006"><!-- 〓OK --></span>
  </div>
  <!--/div-->
  </script>