<script type="text/template" id="main">
  <!--div id="wrapper" class="js-shelf"-->
    <div id="shelf01_01">
      <div id="shelf-header">
        <div id="el-header">
        </div>
        <div class="shelf-filter">
          <span data-message="common01_01_059"><!-- 〓並び替え： --></span>
          <select id="el-sort" disabled="disabled">
          </select>
        </div>
      </div>
      <div id="shelf-main">
        <div class="pagenation">
          <ul class="sel_shelf_navi">
          </ul>
        </div>
        <ul id="shelf-list" class="shelf-list-item" data-isloaded="false">
          <p class="shelf-loading" data-message="common01_01_068"><!--読み込み中…--></p>
        </ul>
        <div class="pagenation">
          <ul class="sel_shelf_navi">
          </ul>
        </div>
      </div>
    </div>
    <div id="shelf_dialog" style="display: none;">
      <div class="dialog">
        <h3 id="el-dialog-headline"></h3>
        <p id="el-dialog-description"></p>
      </div>
    </div>
    <div id="sel_menu_bar"></div>
  <!--/div-->
  
  <div style="display:none;">
  <!-- no_result -->
  <span id="str_no_result" class="no-result" data-message="shelf01_01_005"><!-- 〓検索条件のものは見つかりませんでした。条件を変えてお試しください。 --></span>
  <!-- string buy button -->
  <span id="str_purchased" class="bought" data-message="common01_01_012"><!-- 〓購入済み --></span>
  <span id="str_unreleased" class="no_sale" data-message="common01_01_016"><!-- 〓ニンテンドーeショップで販売予定です --></span>
  <span id="str_termination" class="no_sale" data-message="common01_01_058"><!-- 〓このソフトは現在提供されておりません --></span>
  <span id="str_check_at_retailer" class="no_sale" data-message="common01_01_073"><!-- 任天堂製品取扱店でパッケージ版を購入できます --></span>
  <span id="str_check_at_tiger" class="no_sale" data-message="common01_01_074"><!-- 3DSのニンテンドーeショップで購入できます。 --></span>
  <!-- string search -->
  <span id="str_search" data-message="shelf01_01_001"><!-- 〓検索結果 --></span>
  <span id="str_new" data-message="common01_01_046"><!-- 〓NEW --></span>
  <span id="str_sale" data-message="common01_01_047"><!-- 〓SALE --></span>
  <span id="str_owned_coupon" data-message="common01_01_084"><!-- 〓あなただけ割引 --></span>
  <span id="str_pre_order" data-message="common01_01_077"><!-- 〓予約 --></span>
  <span id="str_conditional_sale" data-message="common01_01_070"><!-- 〓優待価格 --></span>
  <span id="str_detail" data-message="shelf01_01_006"><!-- 〓詳細をみる --></span>
  <span id="str_buy" data-message="common01_01_011_03"><!-- 〓購入画面にすすむ --></span>
  <span id="str_DL" data-message="common01_01_082"><!-- 〓無料ダウンロード --></span>
  <span id="str_movie" data-message="shelf01_01_004"><!-- 〓この映像をみる --></span>
  <span id="str_to" data-message="common01_01_085"><!-- 〓%{price}～ --></span>
  
  <span id="str_release_ymd" data-message="common01_01_015"><!-- 〓%{yyyy}年%{mm}月%{dd}日 --></span>
  <span id="str_release_ym" data-message="common01_01_015_02"><!-- 〓%{yyyy}年%{mm}月 --></span>
  <span id="str_release_y" data-message="common01_01_015_03"><!-- 〓%{yyyy}年 --></span>
  <span id="str_available_ymd" data-message="common01_01_016"><!-- 〓配信予定 %{yyyy}年%{mm}月%{dd}日 --></span>
  <span id="str_available_ym" data-message="common01_01_016_02"><!-- 〓配信予定 %{yyyy}年%{mm}月 --></span>
  <span id="str_available_y" data-message="common01_01_016_03"><!-- 〓配信予定 %{yyyy}年 --></span>
  <span id="str_unreleased_eshop" data-message="data01_01_047_03"><!-- 〓配信日未定 --></span>
  <span id="str_off" data-message="coupon03_01_003"><!-- 〓%{0}OFF --></span>
  <span id="str_total" data-message="shelf01_01_002"><!-- 〓件 --></span>
  <span id="str_sort_non" data-message="shelf02_01_015"><!-- 〓選択なし --></span>
  <span id="str_sort_new" data-message="shelf02_01_011"><!-- 〓新着順 --></span>
  <!--<span id="str_sort_popular" data-message="shelf02_01_013"><!-- 〓人気順 </span>-->
  <span id="str_sort_score" data-message="shelf02_01_014"><!-- 〓みんなのおすすめ順 --></span>
  <span id="str_sort_name" data-message="shelf02_01_012"><!-- 〓名前順 --></span>
  <div id="sel_loading" class="loading_mini" data-message="common01_01_068"><!-- 読み込み中 --></div>
  <span id="str_tax_included"><span class="tax-included" data-message="buy02_01_004"><!-- 〓(税込) --></span></span>
  <span id="str_tax_included_au"><span class="tax-included" data-message="buy02_01_004_02"><!-- 〓(税込)AU --></span></span>
  <span id="str_wishlist_short" data-message="data01_01_025_02"><!-- 気になる --></span>
  <span id="str_wishlist_done" data-message="data01_01_045"><!-- 〓気になるリストに登録済み --></span>
  <span id="str_in_app_purchase" data-message="common01_01_083"><!-- 〓ソフト内購入あり --></span>
  <span id="dialog_msg_wish" data-message="data01_01_043"><!-- 〓気になるリストがいっぱいで追加できません。
  新たに追加するには、気になるリストに登録している商品を
  整理する必要があります。
  気になるリストを確認しますか？ --></span>
  <span id="dialog_later" data-message="common01_01_028"><!-- 〓あとで --></span>
  <span id="dialog_watch" data-message="common01_01_027"><!-- 〓確認する --></span>
  <span id="str_check_at_retailer" class="no_sale" data-message="common01_01_073"><!-- 任天堂製品取扱店でパッケージ版を購入できます --></span>
  <span id="str_check_at_tiger" class="no_sale" data-message="common01_01_074"><!-- 3DSのニンテンドーeショップで購入できます。 --></span>
  </div>
  </script>
  <script id="template_header" type="text/x-jquery-tmpl">
  <a href="#" id="open-dialog" class="shelf-headline-dialog se" data-se-label="SE_WAVE_OK">
    <h1>${ str_header }</h1>
    <span>${ str_total }</span>
  </a>
  </script>
  <script id="template_header_non_desc" type="text/x-jquery-tmpl">
  <div class="shelf-headline">
    <h1>${ str_header }</h1>
    <span>${ str_total }</span>
  </div>
  </script>
  <script id="template_header_coupon" type="text/x-jquery-tmpl">
  <div class="owned-coupon-headline">
    <h1>
      <span>${ coupon_name }</span>
      <span>${ discount_rate }</span>
    </h1>
    <span>${ str_total }</span>
  </div>
  </script>
  <script id="template_header_search" type="text/x-jquery-tmpl">
  <div class="search-headline">
    <h1>${ str_header }</h1>
    <span>${ str_total }</span>
  </div>
  </script>
  <script id="template_sort" type="text/x-jquery-tmpl">
      <option id="${ id_sort }" value="${ param_value }" >${ str_sort }</option>
  </script>
  <!-- title -->
  <script id="template_title" type="text/x-jquery-tmpl">
    <li class="m-list-item" data-title-id="${ data_title_id }" data-esales-flg="${ data_esales_flg }" data-release-date="${ data_release_date }" data-content-type="${ data_content_type }">
    <ul class="list-status">
      {{if is_new}}<li class="status-new"><span>${str_new}</span></li>{{/if}}
      <li class="status-pre-order" style="display:none;"><span>${str_pre_order}</span></li>
      <li class="status-sale sel_disp_sale" style="display:none;"><span>${str_sale}</span></li>
      <li class="status-conditional sel_disp_conditional" style="display:none;"><span>${str_conditional_sale}</span></li>
      <li class="status-owned-coupon sel_disp_owned_coupon" style="display:none;"><span>${str_owned_coupon}</span></li>
    </ul>
    <a href="${ url_detail }" class="list-title-outline se" data-se-label="SE_WAVE_OK">
     <div class="list-title-icon">
       <div class="{{if data_content_type === "CTR"}}p-icon-ctr-M{{else}}p-icon-wup-L{{/if}}">
       {{if data_content_type === "WUP"}}
       <img src="image/placeholder/place_icon_wii_u.png" data-original="${ url_icon }" class="lazy" width="128" height="128" />
       {{else data_content_type === "CTR"}}
       <img src="image/placeholder/place_icon_3ds.png" data-original="${ url_icon }" class="lazy" width="72" height="72" />
       {{else}}
       <img src="image/placeholder/place_icon_wii_u.png" data-original="${ url_icon }" class="lazy" width="128" height="128" />
       {{/if}}
       </div>
     </div>
     <div class="list-title-summary">
       <div class="name">{{html str_title }}</div>
       <div class="star-rating">
         {{if has_rating}}
           <img src="${ rating_img_path }" width="157" height="27" />{{if rating_votes}}(${ rating_votes }){{else}}&nbsp;{{/if}}
         {{else}}
           <img src="image/shelf01_01/img_relating_00.png" width="165" height="29" />
         {{/if}}
       </div>
       <div class="feature">
         {{if has_demo}}<img src="image/shelf01_01/btn_slic_m3t_.02png.png" width="44" height="44" />{{/if}}
         {{if has_aoc}}<img src="image/shelf01_01/btn_slic_m3t_.03png.png" width="44" height="44" />{{/if}}
       </div>
       <div class="platform {{if data_content_type === "CTR"}}text-ctr{{else}}text-wup{{/if}}">${ str_platform }</div>
       <div class="information">
         <span class="publisher">${ str_publisher }</span>
         <span class="rating">${ str_rating }</span>     
         <div class="el-price"></div>
       </div>
     </div>
    </a>
    <div class="list-title-action">
     <div class="el-purchase">
       <div class="purchase-loading">
         <p class="btn-loading"></p>
       </div>
     </div>
     <div class="el-wish" id="el-wish-${ data_title_id }">
     </div>
    </div>
  </li>
  </script>
  <!-- price -->
  <script id="template_price" type="text/x-jquery-tmpl">
    {{if (is_normal_discount || is_conditional_discount || is_coupon_discount) }}
    <span class="strike-through price-above"><span class="ordinary-price">${ regular_price }</span></span>
    <span class="{{if is_coupon_discount}}owned_coupon{{else is_conditional_discount}}conditional{{else is_normal_discount}}sale{{/if}} price">{{html discount_price }}</span>
    {{else}}
    <span class="strike-through price-above"><span class="ordinary-price"></span></span>
    <span class="price">{{html regular_price }}</span>
    {{/if}}
  </script>
  
  <!-- purchase -->
  <script id="template_buy" type="text/x-jquery-tmpl">
      <a href="${ url_buy }" class="purchase se" data-se-label="SE_WAVE_DECIDE"><span>${ str_buy }</span></a>
  </script>
  <script id="template_download" type="text/x-jquery-tmpl">
      <a href="${ url_dl }" class="purchase se" data-se-label="SE_WAVE_DECIDE"><span>${ str_DL }</span></a>
  </script>
  <script id="template_unreleased" type="text/x-jquery-tmpl">
      <div class="disable"><span>{{html str_date }}</span></div>
  </script>
  <script id="template_sales_termination" type="text/x-jquery-tmpl">
      <div class="disable"><span>{{html str_termination }}</span></div>
  </script>
  <script id="template_download_termination" type="text/x-jquery-tmpl">
      <div class="disable"><span>{{html str_termination }}</span></div>
  </script>
  <script id="template_purchased" type="text/x-jquery-tmpl">
      <div class="disable"><span>${ str_purchased }</span></div>
  </script>
  <script id="template_nosale" type="text/x-jquery-tmpl">
      <div class="disable"><span>{{html str_nosale }}</span></div>
  </script>
  <!-- movie -->
  <script id="template_movie" type="text/x-jquery-tmpl">
  <li class="m-list-item" data-content-type="${ data_content_type }">
    <ul class="list-status">
      {{if is_new}}<li class="status-new"><span>${str_new}</span></li>{{/if}}
    </ul>
    <a href="${ url_detail }" class="list-movie-outline se" data-se-label="SE_WAVE_OK">
      <div class="list-movie-icon">
        <div class="p-icon-movie">
          <img class="lazy" src="image/placeholder/place_icon_movie.png" data-original="${ url_icon }" width="160" height="90" />
          <img class="icon-playback" src="image/shelf01_01/ico_movie.png" width="160" height="90" />
        </div>
      </div>
      <div class="list-movie-summary">
        <div class="name">{{html str_title }}</div>
        <div class="spec">
          <span class="playback-time">${ str_mov_time }</span>
          <span class="rating">${ str_rating }</span>
        </div>
      </div>
    </a>
  </li>
  </script>
  